// This file is loaded with webpack, see vue.config.js and env variable VUE_APP_SCSS_VARS.
// Default variables are for the default theme which is sbs.

// Responsive breakpoints
// Cannot be used as css variables
$tablet-bp: 1200px;
$mobile-bp: 600px;

#app {
  // fonts
  --font-default: Arial, Helvetica, sans-serif;

  // size of some elements
  --navigation-menu-height: 52px;
  --navigation-sub-menu-height: 52px;
  --navigation-total-offset: calc(var(--navigation-menu-height) + var(--navigation-sub-menu-height));
  --mobile-tabs-height: 52px;
  --brand-logo-height: 27px;
  --brand-logo-width: 133px;

  // palette
  --color-black: black;
  --color-black-alt: rgb(20, 20, 20); // #141414
  --color-blue: rgb(0, 122, 255); // #007AFF
  --color-blue-light: #E6F0FD; // for background mainly
  --color-darkgray:#6e6e73;
  --color-darkgray-darker:#5e5e5e;
  --color-darkgray-darkest:#252525;
  --color-gray: rgb(174, 174, 178); // #AEAEB2
  --color-green: rgb(52, 199, 89); // #34C759
  --color-green-transparent: rgba(52, 199, 89, 0.7);
  --color-lightgray: rgb(199, 199, 204); // #C7C7CC
  --color-lightgray-lighter: rgb(228, 228, 228); // #E4E4E4
  --color-lightgray-lightest: rgb(247, 247, 247); // #F7F7F7
  --color-indigo: rgb(88, 86, 214); // #5856D6
  --color-orange: rgb(255, 149, 0); // #FF9500
  --color-pink: rgb(255, 45, 85); // #FF2D55
  --color-purple: rgb(175, 82, 222); // #AF52DE
  --color-red: rgb(255, 59, 48); // #FF3B30
  --color-teal: rgb(90, 200, 250); // #5AC8FA
  --color-yellow: rgb(255, 204, 0); // #FFCC00
  --color-white: white;

  --color-gradient-yellow: linear-gradient(313.38deg, #FF54C1 -2.79%, #FFB68D 50.95%, #FFC700 102.51%);
  --color-gradient-yellow-alt-1: linear-gradient(136deg,#ffc700 60%,#ffb68d 70%,#ff54c1 100%);
  --color-gradient-yellow-alt-2: linear-gradient(90deg,#ffc700 0%,#ffb68d 30%,#ff54c1 50%);
  --color-gradient-yellow-inverted: linear-gradient(313.38deg, #FFC700 -2.79%, #FFB68D 50.95%, #FF54C1 102.51%);

  // dark mode
  --color-dark-mode-bg: var(--color-black-alt);

  // color of some elements
  --text-color: var(--color-black);
  --btn-primary-text-color: var(--text-color);
  --btn-secondary-text-color: var(--color-white);
  --segment-active-text-color: var(--text-color);
  --note-block-bg-color: var(--color-lightgray-lightest);
  --disabled-control-bg-color: #f1f1f1;
  --disabled-control-text-color: var(--color-gray);

  // Webkit-only scrollbar styling
  --webkit-scrollbar-bg-color: transparent;
  --webkit-scrollbar-arrows-color: var(--color-lightgray);
  --webkit-scrollbar-thumb-color: var(--color-lightgray);
  --webkit-scrollbar-hover-color: #404040;
}
